Source: rpicam-apps
Section: video
Priority: optional
Maintainer: UAB Kurokesu <info@kurokesu.com>
Uploaders: Danius Kalvaitis <danius@kurokesu.com>
Build-Depends: debhelper-compat (= 13),
 meson,
 pkgconf,
 python3,
 libboost-dev,
 libboost-program-options-dev,
 libcamera-dev,
 libdrm-dev,
 libepoxy-dev,
 libexif-dev,
 libjpeg62-turbo-dev,
 libpng-dev,
 libtiff-dev,
 libx11-dev,
 qtbase5-dev,
 libavcodec-dev <!pkg.rpicam-apps.nolibav>,
 libavdevice-dev <!pkg.rpicam-apps.nolibav>,
 libavformat-dev <!pkg.rpicam-apps.nolibav>,
 libopencv-dev,
 libswresample-dev <!pkg.rpicam-apps.nolibav>
Standards-Version: 4.1.3
Vcs-Browser: https://github.com/Kurokesu/rpicam-apps
Vcs-Git: https://github.com/Kurokesu/rpicam-apps.git -b debian/latest
Homepage: https://github.com/raspberrypi/rpicam-apps/

Package: rpicam-apps
Architecture: all
Depends:
 ${misc:Depends},
 rpicam-apps-core (>= ${source:Version}),
 rpicam-apps-encoder (>= ${source:Version}) <!pkg.rpicam-apps.nolibav>,
 rpicam-apps-opencv-postprocess (>= ${source:Version}),
 rpicam-apps-preview (>= ${source:Version}),
Description: Camera based applications for Raspberry Pi using the libcamera framework
 rpicam-apps is a suite of official command-line camera applications developed
 for Raspberry Pi, built on the libcamera framework. Tools like rpicam-still,
 rpicam-vid, and rpicam-preview enable high-quality image and video capture with
 official and 3rd party camera modules. The apps support a variety of controls
 and advanced features for flexible imaging use cases.
 .
 This is a metapackage that installs the core rpicam-apps applications as well
 as the preview, opencv and encoder plugins.

Package: rpicam-apps-core
Architecture: armhf arm64
Depends: ${shlibs:Depends}, ${misc:Depends}, python3:any
Conflicts: rpicam-apps-lite (<<1.8.1-1~bookworm), rpicam-apps (<<1.8.1-1~bookworm)
Replaces: rpicam-apps-lite (<<1.8.1-1~bookworm), rpicam-apps (<<1.8.1-1~bookworm), libcamera-apps (<< 1.4.1-1~)
Breaks: rpicam-apps-lite (<<1.8.1-1~bookworm), rpicam-apps (<<1.8.1-1~bookworm), libcamera-apps (<< 1.4.1-1~)
Description: Camera based applications for Raspberry Pi using the libcamera framework
 rpicam-apps is a suite of official command-line camera applications developed
 for Raspberry Pi, built on the libcamera framework. Tools like rpicam-still,
 rpicam-vid, and rpicam-preview enable high-quality image and video capture with
 official and 3rd party camera modules. The apps support a variety of controls
 and advanced features for flexible imaging use cases.
 .
 This is a metapackage that installs the core rpicam-apps applications.

Package: librpicam-app1
Architecture: armhf arm64
Multi-Arch: same
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Framework for rpicam-apps camera applications
 The rpicam-apps libary is the core framework used by the rpicam-apps suite of
 official command-line camera applications developed for Raspberry Pi, built on
 the libcamera framework. Custom camera applications can be built using this
 library.
 .
 This package contains the shared library.

Package: librpicam-app-dev
Section: libdevel
Architecture: armhf arm64
Multi-Arch: same
Depends: ${misc:Depends}, librpicam-app1 (= ${binary:Version})
Description: Framework for rpicam-apps camera applications
 The rpicam-apps libary is the core framework used by the rpicam-apps suite of
 official command-line camera applications developed for Raspberry Pi, built on
 the libcamera framework. Custom camera applications can be built using this
 library.
 .
 This package contains the development files.

Package: rpicam-apps-encoder
Architecture: armhf arm64
Multi-Arch: same
Build-Profiles: <!pkg.rpicam-apps.nolibav>
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Framework for rpicam-apps camera applications
 The rpicam-apps libary is the core framework used by the rpicam-apps suite of
 official command-line camera applications developed for Raspberry Pi, built on
 the libcamera framework. Custom camera applications can be built using this
 library.
 .
 This package contains the encoder plugin.

Package: rpicam-apps-preview
Architecture: armhf arm64
Multi-Arch: same
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Framework for rpicam-apps camera applications
 The rpicam-apps libary is the core framework used by the rpicam-apps suite of
 official command-line camera applications developed for Raspberry Pi, built on
 the libcamera framework. Custom camera applications can be built using this
 library.
 .
 This package contains the preview plugins.

Package: rpicam-apps-opencv-postprocess
Architecture: armhf arm64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Framework for rpicam-apps camera applications
 The rpicam-apps libary is the core framework used by the rpicam-apps suite of
 official command-line camera applications developed for Raspberry Pi, built on
 the libcamera framework. Custom camera applications can be built using this
 library.
 .
 This package contains the opencv plugin.
