#!/usr/bin/make -f
#export DH_VERBOSE = 1

# The libav encoder needs the ffmpeg 7 API (libavcodec >= 61), absent on
# bookworm (ffmpeg 5.1). The pkg.rpicam-apps.nolibav profile drops it
# there. See debian/source/README.source.
ifneq (,$(filter pkg.rpicam-apps.nolibav,$(DEB_BUILD_PROFILES)))
	LIBAV = disabled
else
	LIBAV = enabled
endif

CONFIG := -Denable_drm=enabled \
	  -Denable_egl=enabled \
	  -Denable_libav=$(LIBAV) \
	  -Denable_opencv=enabled \
	  -Denable_qt=enabled \
	  -Denable_tflite=disabled \
	  -Denable_imx500=false \
	  -Denable_hailo=disabled

%:
	dh $@

execute_after_dh_install:
	rm -v -f $(addsuffix _*.json, $(addprefix debian/rpicam-apps-core/usr/share/rpi-camera-assets/,hailo imx500))
	rm -v -f debian/rpicam-apps-core/usr/share/rpi-camera-assets/*_tf.json
	rm -v -f debian/rpicam-apps-preview/usr/lib/*/rpicam-apps-preview/drm-preview.so

override_dh_auto_configure:
	dh_auto_configure -- $(CONFIG)
